@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.logo,
.theme {
  margin-right: 20px;
  cursor: pointer;
}

.title {
  font-size: 25px;
  font-weight: bold;
  color: $font-color;
}

.cityInput {
  width: 194px;
  height: 37px;
  border-radius: 10px;
  background: var(#{--card-background-default});
  color: var(#{--text-color-default});
  border: 0;
  font-size: 18px;
  &:hover {
    box-shadow: var(#{--card-shadow-default});
  }
}
